$main-color: rgba(255, 255, 255, 1);
$light-color: rgba(161, 198, 201, 0.388);
$dark-color: rgb(60, 89, 100);
$transparent-color: rgba(34, 38, 40, 0.3);
$gradient: linear-gradient(35deg, #274e64e7 0%, #1d5256 100%);