$main-color: rgba(255, 255, 255, 1);
$light-color: rgba(161, 198, 201, 0.388);
$dark-color: rgb(60, 89, 100);
$transparent-color: rgba(34, 38, 40, 0.3);
$gradient: linear-gradient(150deg, #002467c2 0%, #006c68b7 100%);